
.responsive-mode .main-view {
	position: relative;
	margin-top: 17px;
}
.responsive-mode.response-horz .main-view {
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	margin-top: 0;
}
.responsive-mode #response {
	background-color: hsl(190, 3%, 21%);
	top:0;
	margin:0;
	height: 100%;
	position: relative;
}
.responsive-mode.response-horz #response {
	height: 100%;
	z-index: 20; /* so it is above modal-bar when modal-bar closes/opens */
}
.responsive-mode #fwrap {
	top: 86px;z-index:50;position: absolute;bottom: 0;right:0;left:0px;
}

#frame {
	box-shadow: hsla(0, 0%, 0%, 0.3) 4px 3px 9px;
	border: none;
	position: absolute;
	width: 100%;
	height:	100%;
	overflow-x:hidden;
}
#frame body {
	overflow-x: hidden;
}

/* response toolbar styles */

#tools {
	position: absolute;
	height: 35px;
	width: 100%;
	background-color: white;
	background: -webkit-linear-gradient(top, hsl(180, 2%, 26%) 0%, hsl(180, 2%, 17%) 100%), white;
	border-bottom: 1px solid black;
	outline: 1px solid hsl(0, 0%, 25%);
	outline-offset: 0px;
	z-index: 10;
}

#inspectButton {
	left: 69px;
	top: 6px;
	width: 75px;
	height: 25px;
	display: block;
	position: absolute;
	-webkit-transition-property: background-position;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-in;
	background: url('../images/toggleThumb.png') 0px 1px no-repeat, url('../images/toggleBG.png') 1px 1px no-repeat;
}
#inspectButton:focus {
	outline: none;
	box-shadow: none;
}
.inspectButtonOn {
	background-position: 35px 1px, 1px 1px !important;
}
#inspectText {
	position: absolute;
	color: hsla(0, 100%, 100%, 0.81);
	text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.3);
	top: 10px;
	left: 16px;
	font-size: 12px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: bold;
}

#slider {
	width: 100%;
	position: absolute;
	top: 53px;
	height: 33px;
	left: 0;
	z-index: 10000;
	padding: 0;
}
#slider:focus {
	outline: none;
}
input[type='range'] {
	-webkit-appearance: none;
	background-color: #303030;
	background-image: url('../images/sliderBG.png'),
						url('../images/ruler.png');
	background-repeat: repeat-x;
	height: 15px;
	position: absolute;
	z-index: 999;
	background-position: left 1px, left top;
	border: none;
}
input[type='range']::-webkit-slider-thumb {
	background-image:url('../images/thumb.png');
	background-repeat: no-repeat;
	-webkit-appearance: none;
	position: relative;
	background-position: center center;
	top: -10px;
	width: 12px;
	height: 16px;
}

#addButt {
	position: absolute;
	background-image: url('../images/plusIcon.png'), -webkit-linear-gradient(top, hsl(180, 2%, 29%) 0%, hsl(180, 2%, 22%) 100%);
	top: 5px;
	right: 11px;
	width: 20px;
	height: 20px;
	padding: 2px 4px;
	background-repeat: no-repeat;
	background-position: center, 0 0;
	background-size: 16px, 100%;
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #5E5E5E;
}
#addButt:hover {
	background-image: url('../images/plusIcon.png'),
		-webkit-linear-gradient(top, #393C3C 0%, #282A2A 100%);
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #4D4D4D;
}
#addButt:active {
	background-image: url('../images/plusIcon.png'),
		-webkit-linear-gradient(bottom, hsl(180, 3%, 20%) 0%, hsl(180, 2%, 17%) 100%);
	background-repeat: no-repeat;
	border: 1px solid hsl(0, 0%, 9%);
	box-shadow: 0px 1px 0px hsl(0, 0%, 30%), inset 0px 1px 6px hsl(0, 0%, 8%);
}

#track-label {
	position: absolute;
	top: 7px;    
	right: 55px;
	text-align: right;
	color: #fff;
}

#vertButt {
	position: absolute;
	background-image: url('../images/vertIcon.png'), -webkit-linear-gradient(top, hsl(180, 2%, 29%) 0%, hsl(180, 2%, 22%) 100%);
	top: 5px;
	left: 260px;
	width: 22px;
	height: 19px;
	padding: 3px 4px;
	background-repeat: no-repeat;
	background-position: center 5px, 0 0;
	background-size: 16px, 100%;
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #5E5E5E;
}
#vertButt:hover {
	background-image: url('../images/vertIcon.png'),
		-webkit-linear-gradient(top, #393C3C 0%, #282A2A 100%);
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #4D4D4D;
}
#vertButt:active, .response-vert #vertButt {
	background-image: url('../images/vertIcon.png'), -webkit-linear-gradient(bottom, hsl(180, 3%, 20%) 0%, hsl(180, 2%, 17%) 100%) !important;
	background-repeat: no-repeat !important;
	border: 1px solid hsl(0, 0%, 9%) !important;
	box-shadow: inset 0px -1px 0px hsl(0, 0%, 24%), inset 0px 1px 6px hsl(0, 0%, 8%) !important;
}

#horzButt {
	position: absolute;
	background-image: url('../images/horzIcon.png'), -webkit-linear-gradient(top, hsl(180, 2%, 29%) 0%, hsl(180, 2%, 22%) 100%);
	top: 5px;
	left: 228px;
	width: 22px;
	height: 19px;
	padding: 3px 4px;
	background-repeat: no-repeat;
	background-position: center 5px, 0 0;
	background-size: 16px, 100%;
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #5E5E5E;
}
#horzButt:hover {
	background-image: url('../images/horzIcon.png'),
		-webkit-linear-gradient(top, #393C3C 0%, #282A2A 100%);
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #4D4D4D;
}
#horzButt:active, .response-horz #horzButt {
	background-image: url('../images/horzIcon.png'), -webkit-linear-gradient(bottom, hsl(180, 3%, 20%) 0%, hsl(180, 2%, 17%) 100%) !important;
	background-repeat: no-repeat;
	border: 1px solid hsl(0, 0%, 9%) !important;
	box-shadow: inset 0px -1px 0px hsl(0, 0%, 24%), inset 0px 1px 6px hsl(0, 0%, 8%) !important;
}

#response-refresh {
	position: absolute;
	background-image: url('../images/refreshIcon.svg'), -webkit-linear-gradient(top, hsl(180, 2%, 29%) 0%, hsl(180, 2%, 22%) 100%);
	top: 5px;
	left: 328px;
	width: 22px;
	height: 19px;
	padding: 3px 4px;
	background-repeat: no-repeat;
	background-position: center 5px, 0 0;
	background-size: 16px, 100%;
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #5E5E5E;
}
#response-refresh:hover {
	background-image: url('../images/refreshIcon.svg'),
		-webkit-linear-gradient(top, #393C3C 0%, #282A2A 100%);
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #4D4D4D;
}
#response-refresh:active {
	background-image: url('../images/refreshIcon.svg'), -webkit-linear-gradient(bottom, hsl(180, 3%, 20%) 0%, hsl(180, 2%, 17%) 100%) !important;
	background-repeat: no-repeat;
	border: 1px solid hsl(0, 0%, 9%) !important;
	box-shadow: inset 0px -1px 0px hsl(0, 0%, 24%), inset 0px 1px 6px hsl(0, 0%, 8%) !important;
}

.menu-divider {
	position: absolute;
	width: 1px;
	height: 35px;
	left: 157px;
	background: black;
	border-right: 1px solid hsl(0, 0%, 19%);
	box-shadow: -1px 0px 0px hsl(0, 0%, 32%);
}



/* splitter css styles */

.horz-splitter {
	width: 15px;
	border: 1px solid hsla(0, 0%, 0%, 0.50);
	border-left-color: hsla(0, 0%, 0%, 1.0);
	box-shadow: hsla(0, 0%, 0%, 0.2) -3px 3px 7px;
	opacity: 1;
	border-right-color: rgb(0, 0, 0);
	background: -webkit-linear-gradient(left, rgb(51, 54, 56) 0%, rgb(60, 63, 66) 100%);
	position: absolute;
	height: 100%;
	z-index: 50000;
	cursor: col-resize;
}
.vert-splitter {
	border: 1px solid hsla(0, 0%, 0%, 0.4);
	border-left: none;
	box-shadow: hsla(0, 0%, 0%, 0.17) 0px -2px 3px 2px;
	opacity: 1;
	bottom: -17px;
	height: 17px;
	background: url(../images/grabber.png) center center no-repeat, -webkit-linear-gradient(top, hsl(204, 4%, 33%) 0%, hsl(210, 4%, 28%) 100%);
	position: absolute;
	width: 100%;
	z-index: 18;
	cursor: row-resize;
}


/*
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}


.html2 {
	width:0px;
}
*/

/* tweeny tweaks */

.tick {
	width : 1px;
	background-color: #FF0000;
	height: 30px;
	position: absolute;
}

/*
#rightCover {
	position: absolute;
	background-color: #000;
	width: 0px;
	height: 0px;
}
#toolbar {
	width : 100%;
	height : 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #000000;
	opacity: 0.0;
}
*/

#layoutText {
	color: hsla(0, 100%, 100%, 0.81);
	text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.3);
	font-size: 12px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 175px;
}
.caret {
	display: none !important;
}

.presetPos {
	position: absolute;
	background-image: url('../images/presetsIcon.png'), -webkit-linear-gradient(top, hsl(180, 2%, 29%) 0%, hsl(180, 2%, 22%) 100%);
	margin: 0;
	right: 55px;
	top: 4px;
	width: 76px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 66px 6.7px, 0,0;
	background-size: 9px, 87px;
	padding: 3px 0px 2px 10px;
	text-align: left;
	vertical-align: middle;
	color: hsla(0, 100%, 100%, 0.91);
	font-weight: bold;
	font-size: 12px;
	border-radius: 0px;
	letter-spacing: -1px;
	text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.3);
	border: 1px solid hsl(0, 0%, 9%);
	box-shadow: inset 0px 1px 0px hsl(0, 0%, 37%);
}

.presetPos:hover {
	background-image: url('../images/presetsIcon.png'),
		-webkit-linear-gradient(top, #393C3C 0%, #282A2A 100%);
	border: 1px solid #171717;
	box-shadow: inset 0px 1px 0px #4D4D4D;
}

.presetPos:active {
	background-image: url('../images/presetsIcon.png'), -webkit-linear-gradient(bottom, hsl(180, 3%, 20%) 0%, hsl(180, 2%, 17%) 100%);
	background-position-y: 6.7px, -6px;
	border: 1px solid hsl(0, 0%, 9%);
	box-shadow: 0px 1px 0px hsl(0, 0%, 30%), inset 0px 1px 6px hsl(0, 0%, 8%);
}

/* inline css editor css rules */

.responsive-mode .inline-widget .close {
	top: 25px;
	z-index: 1000;
}

.responsive-mode .inline-editor-header {
	position: relative;
	width: 100%;
	padding: 0;
}

.inline-widget .inline-editor-header .filename {
	display:none !important;
}

.responsive-mode .inline-editor-header .inlinemark {
	position: relative;
	top: 0px;
	width: 100%;
	height: 12px;
	padding: 4px 5px 0 0;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	border-top: 1px solid hsla(0, 0%, 0%, 0.37);
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.53);
}

.responsive-mode .inline-editor-header .inlinemark > .wd {
	width: auto;
	height: 12px;
	margin-top: 3px;
	margin-right: 8px;
	text-align: right;
}

.responsive-mode .inline-editor-header select {
	position: relative;
	top: 5px;
	left: 60px;
	padding: 2px 20px 2px 4px;
	height: 22px;
	font-size: 11px;
	width: auto;
}
.responsive-mode .inline-editor-header select:focus {
	box-shadow: none;
}

.responsive-mode .inline-editor-holder .CodeMirror-lines {
	padding: 5px 0 10px;
}

/* styles for the inline editor to highlight css rules that have been modified by media query */

.pq0 {
	background: hsl(221, 93%, 90%) !important; 
	left: 17px;
} 
.pq1 {
	background: hsl(263, 95%, 90%) !important;
	left: 17px;
}
.pq2 {
	background: hsl(78, 79%, 75%) !important;
	left: 17px;
}
.pq3 {
	background: hsl(40, 97%, 85%) !important;
	left: 17px;
}
.pq4 {
	background: hsl(176, 77%, 84%) !important;
	left: 17px;
}

/* styles to highlight the current row when the inspector mode is on */

.l0 {
	background-color: hsla(221, 93%, 78%, 0.52) !important;
}
.l1 {
	background-color: hsl(263, 95%, 87%) !important;
}
.l2 {
	background-color: hsl(78, 79%, 71%) !important;
}
.l3 {
	background-color: hsl(40, 97%, 78%) !important;
}
.l4 {
	background-color: hsl(176, 77%, 83%) !important;
}


/* query track css rules. used at top and in the inline editor */

#track {
	background-color: #252525;
	border: 1px solid #1A1A1A;
	height: 16px;
	position: absolute;
	top: 35px;
	width: 100%;
	overflow: hidden;
}

.mark {
	position: absolute;
	border-right: 1px solid #262928;
	height: 16px;
	text-align: right;
	border-top: 1px solid hsla(0, 0%, 0%, 0.38);
}

.wd {
	font-family: "Helvetica Neue";
	color: white;
	font-size: 11px;
	margin-top: -2px;
	margin-right: 7px;
	font-weight: bold;
	text-align: right;
	cursor: default;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
	pointer-events: none;
}

.resizing-container {
	z-index: 9999999999;
	background: transparent;
}

#docreload-ok {
	margin-left: 10px;
}
